<nav>
  <div class="ycombinator-logo">
    <a href="/"><img src="/ycombinator-logo.png"></img></a>
  </div>
  <div class="nav-content">
    <b>Hacker News</b>
    <ul>
      <li>new</li>
      <li>comments</li>
      <li>show</li>
      <li>ask</li>
      <li>jobs</li>
      <li>submit</li>
    </ul>
  </div>
  <div class="login">
    login
  </div>
</nav>
