<ul class="nav">
  <li><a href="/"><img src="/ycombinator-logo.png" class="ycombinator-logo"></img></a></li>
  <li><b>Hacker News</b></li>
  <li>new</li>
  <li>comments</li>
  <li>show</li>
  <li>ask</li>
  <li>jobs</li>
  <li>submit</li>
  <li class="login">login</li>
</ul>
