<nav>
  <div class="ycombinator-logo">
    <a href="/"><img src="/ycombinator-logo.png"></img></a>
  </div>
  <div class="nav-content">
    <b>Hacker News</b>
    <ul>
      <li><a href="/newest">new</a></li>
      <li><a href="https://news.ycombinator.com/newcomments">comments</a></li>
      <li><a href="/show">show</a></li>
      <li><a href="/ask">ask</a></li>
      <li>jobs</li>
      <li>submit</li>
    </ul>
  </div>
  <div class="login">
    login
  </div>
</nav>
