// Place all the styles related to the job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray-font-color: #828282;

.message {
  display: flex;
  justify-content: flex-start;

  p {
    margin-left: 28px;
    color: $gray-font-color;
  }
}
