// Place all the styles related to the show controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray-font-color: #828282;

.message {
  display: flex;
  justify-content: center;

  p {
    color: $gray-font-color;
  }
}