$gray-font-color: #828282;

section {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  
  .story {
    display: flex;
    margin-bottom: 3px;

    .index {
      color: $gray-font-color;
      font-size: 11pt;
      min-width: 45px;
      display: flex;
      justify-content: flex-end;

      a{
        margin-left: 2px;
      }
      #gray-arrow {
        height: 8px;
        width: 8px;
      }
    }    
    .title {
      font-size: 11pt;
      flex-wrap: wrap;
      margin: 0px;
    }   
    .text {
      margin-left: 10px;   
      
      a {
        text-decoration: inherit;
        color: inherit;
      }
      a:hover {
        text-decoration: underline;
      }
      a:visited {
        text-decoration: inherit;
        color: $gray-font-color;
      }
      ul {
        margin: 2px 0px;
        font-size: 7pt;
        color: $gray-font-color;
        list-style: none;
        padding-left: 0px;

        li {
          display: inline;
          padding: 0px 5px;
        }
        li:first-child {
          padding: 0px;
        }
        li:nth-child(2){
          border-left: 1px solid $gray-font-color;
          border-right: 1px solid $gray-font-color;
        }       
      }
      .domain {
        font-size: 8pt;
        color: $gray-font-color;
      }
    }
  }
}
.loading {
  display: flex;
  justify-content: center;
  color: $gray-font-color;
}